build
.DS_Store
CIALBrowserViewControllerDemo.xcodeproj/*.pbxuser
CIALBrowserViewControllerDemo.xcodeproj/*.perspectivev3
CIALBrowserViewControllerDemo.xcodeproj/*.mode1v3
CIALBrowserViewControllerDemo.xcodeproj/project.xcworkspace
CIALBrowserViewControllerDemo.xcodeproj/xcuserdata
